/*preloader */

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FFF; 
    z-index:99999; 
}
#status {
    width:100px;
    height:100px;
    position:absolute;
    left:50%; 
    top:50%; 
    background-image:url("img/leti.gif");
    z-index:9999; 
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin:-50px 0 0 -50px; 
}


/*body start*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');
html, body, .container {
    height: 100%;
}

/*body font and size*/
body {
     font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:black;
    line-height: 1.5;
}
/*end of body font and size*/

/*progress bar*/
*, *::before, *::after {
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  width: 1em;
  z-index: 100;
  background-color:grey;
  
}
body::-webkit-scrollbar-thumb {
  background-color: #05336e;
  border-width: 2px 0 2px;
  border-style: solid;
  border-color: #6d6e71;
  box-shadow: 0 -100vh 0 100vh #bb8d54;
}
/*end of progress bar*/


/*topbar atyles*/
.top-bar-info{display:inline-block;vertical-align:middle;}
.top-bar-info ul{margin-bottom:0;}
.top-bar-info li{font-weight:100;color:#fff; font-family: 'Roboto Condensed', sans-serif; list-style-type:none;font-size:14px;padding:0 5px 0;display:inline-block;margin-bottom:0;}
#top-bar{display:block;position:relative;background:grey;padding:1px 0;}
.top-bar-info li i{font-size:16px;color:#fff;margin-right:8px;margin-top:0;display:inline-block;vertical-align:text-bottom}


/*animation of 135 years \(юбилеем)*/
.wrapper_1 {
    text-align: center;}
    .wrapper_1 h1 {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        background: linear-gradient(to right,white 10%, #bb8d54 50%, #05336e 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 50% auto;
        color: #6d6e71;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 10.0s linear infinite;
        display: inline-block;

    }

    /*digital educational platform*/


.dep h3 {
  text-align: left;
  color:white; 
}
.dep {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.dep:first-of-type {
  
  animation: showup 7s infinite;
}

.dep:last-of-type {
  width:60px;
  animation: reveal 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}





@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');
@font-face {
    font-family: 'Roboto Condensed', sans-serif;
}


.text_rus h3{
   color: white; 
 font-family: 'Roboto Condensed', sans-serif;
font-size:19.6px;
line-height:27.44px;
vertical-align:baseline;
letter-spacing:normal;
word-spacing:0px;
margin:0px 0px 15px;
padding:0px;
font-weight:200;
font-style:normal;
font-variant:normal;
text-transform:none;
text-decoration:none solid rgb(51, 51, 51);
text-align:start;
text-indent:0px;

}


/*buttons styles*/
.menu1 {
  border-color:rgb(187, 141, 84);
  color:white;
  box-shadow: 0 0 40px 40px rgb(187, 141, 84) inset, 0 0 0 0 rgb(187, 141, 84);
  transition: all 150ms ease-in-out;
}
.menu1:hover {
  box-shadow: 0 0 10px 0 #05336e inset, 0 0 10px 4px #05336e;
}

.twoparts{
    background: -webkit-linear-gradient(59deg,#05336e,#bb8d54);
background: linear-gradient(59deg, ,#05336e,#bb8d54);


}


/*body of text*/
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #3498db;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*buttons for body of text*/

.third {
  border-color:rgb(5, 51, 110);
  color:white;
  box-shadow: 0 0 40px 40px rgb(5, 51, 110) inset, 0 0 0 0 rgb(5, 51, 110);
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #bb8d54 inset, 0 0 10px 4px #bb8d54;
  color: white;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/*background and text animation of body text */
/*distance learning*/




/*outside text(id=about)*/
.outside_text{
background: -webkit-linear-gradient(59deg, #bb8d54, #05336e);
background: linear-gradient(59deg, #bb8d54,#05336e);
}
.outside_text p{
  color: black;
}

/*FOOTER*/

footer {
  background: #bb8d54;
  background: -webkit-linear-gradient(59deg, #bb8d54, #05336e);
  background: linear-gradient(59deg, #bb8d54,#05336e);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: blue;
}

.social-network a.icoYoutube:hover {
  background-color: red;
}

.social-network a.icoInstagram:hover {
  background-color: purple;
}

.social-network a.icoVk:hover {
  background-color: blue;
}
.social-network a.icoTwitter:hover {
  background-color: blue;
}
.social-network a.icoTelegram:hover {
  background-color: blue;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTelegram:hover i,
.social-network a.icoVk:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}






